*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #234;
}
.section{
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.section h1{
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}
.section .content{
    margin: 25px 0px 35px;
}
.section .content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.section .content .typing-input{
    z-index: -999;
    opacity: 0;
    position: absolute;
}
.section .content .inputs input{
    height: 47px;
    width: 45px;
    margin: 3px;
    font-size: 24px;
    font-weight: 500;
    color: #234;
    text-align: center;
    background: none;
    border-radius: 5px;
    border: 1px solid #dcdcdc;
    text-transform: uppercase;
}
.section .content .inputs input:first-child{
    margin-left: 0;
}
.section .content .details{
    margin: 20px 0 25px;
}
.section .content .details p{
    font-size: 19px;
    margin-bottom: 10px ;
}
.section .content .reset-button{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 17px;
    padding: 15px 0 ;
    border-radius: 5px;
    color: #fff;
    background: #234;
}